.site-nav {
    width: 100%;
    padding: 30px 10px;
    border-bottom: 1px solid gray;
    position: relative;
    text-align: center;

    &__logo {
        margin: 0 auto;
        display: inline-block;
        width: 200px;
        height: 16px;
        text-align: center;

        img {
            width: 50px;
        }
    }
}
